body {
  background: #eee !important;
}
.grabbable {
    cursor: move; /* fallback if grab cursor is unsupported */
    cursor: grab;
    cursor: -moz-grab;
    cursor: -webkit-grab;
}
.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th{
	vertical-align:middle;
}

 /* (Optional) Apply a "closed-hand" cursor during drag operation. */
.grabbable:active { 
    cursor: grabbing;
    cursor: -moz-grabbing;
    cursor: -webkit-grabbing;
}
:focus {
  outline: none;
}
.row {
  margin-right: 0;
  margin-left: 0;
}
.navbar{
	margin:0px;
}
.tab-content {
    color: black;
    background-color: #fff;
    padding: 15px 15px;
    border-right: 1px solid #ddd;
    border-left: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}
.bootstrap-select.form-control{
	  margin-bottom: 15px;
	  border:initial;
}
.bootstrap-select>.dropdown-toggle{
	height:100%;
}
.form-control{
	margin:10px 0;
	height:50px;
}
.navbar-brand{
	font-size:20px;
}
.navbar-brand i{
	padding-right:10px;
}
.btn-block{
	margin:10px 0;
}
.add-btn,.add-btn-content, .remove-btn{
	margin:15px!important;
}
.remove-btn{
	display:none;
}
.auto-sortable-elements .row{
	cursor:grab;
}
.image-preview-input {
    position: relative;
	overflow: hidden;
	margin: 0px;    
    color: #333;
    background-color: #fff;
    border-color: #ccc;    
}
.image-preview-input input[type=file] {
	position: absolute;
	top: 0;
	right: 0;
	margin: 0;
	padding: 0;
	font-size: 20px;
	cursor: pointer;
	opacity: 0;
	filter: alpha(opacity=0);
}
.image-preview-input-title {
    margin-left:2px;
}
h1{
	font-size:36px;
}
header{
	margin:0px;
}
header .navbar-right{
	margin:0px;
}
footer{
	position:relative;
	padding:20px 0;
	text-align:center;
	font-size:18px;
	margin-left: 310px;
}
.credits{
	padding: 20px;
    font-size: 16px;
    width: 100%;
    bottom: -10px;
    position: relative;
}
/* Main body section */
.side-body {
	margin-left: 300px;
    margin-right: 50px;
    margin-top: 0px;
}
.nav-side-menu {
  overflow: auto;
  font-size: 14px;
  font-weight: 200;
  background-color: #2e353d;
  position: fixed;
  top: 50px;
  width: 250px;
  height: 100%;
  color: #e1ffff;
}
.nav-side-menu .brand {
  background-color: #23282e;
  line-height: 50px;
  display: block;
  text-align: center;
  font-size: 14px;
}
.nav-side-menu .toggle-btn {
  display: none;
}
.nav-side-menu ul,
.nav-side-menu li {
  list-style: none;
  padding: 0px;
  margin: 0px;
  line-height: 50px;
  cursor: pointer;
}
.nav-side-menu .sub-menu li{
	padding:0 28px;
}
.nav-side-menu .sub-menu li.has-submenu{
	padding:0px;
}
.nav-side-menu ul :not(collapsed) .arrow:before,
.nav-side-menu li :not(collapsed) .arrow:before {
  font-family: FontAwesome;
  content: "\f078";
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
  vertical-align: middle;
  float: right;
}
.nav-side-menu ul .active,
.nav-side-menu li .active {
  border-left: 3px solid #337ab7;
  background-color: #4f5b69;
}
.nav-side-menu ul .sub-menu li.active,
.nav-side-menu li .sub-menu li.active {
  color: #337ab7;
}
.nav-side-menu ul .sub-menu li.active a,
.nav-side-menu li .sub-menu li.active a {
  color: #337ab7;
}
.nav-side-menu ul .sub-menu li,
.nav-side-menu li .sub-menu li {
  background-color: rgba(61, 65, 70, 0.36);
  border: none;
  line-height: 40px;
  border-bottom: 1px solid #23282e;
  margin-left: 0px;
}
.nav-side-menu ul .sub-menu li:hover,
.nav-side-menu li .sub-menu li:hover {
  background-color: #020203;
}
.nav-side-menu ul .sub-menu li:before,
.nav-side-menu li .sub-menu li:before {
  font-family: FontAwesome;
  content: "";
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
  vertical-align: middle;
}
.nav-side-menu li {
  padding-left: 0px;
  border-left: 3px solid #2e353d;
  border-bottom: 1px solid #23282e;
}
.nav-side-menu li a {
  text-decoration: none;
  color: #e1ffff;
}
.menu-list li a i {
  padding-left: 10px;
  width: 20px;
  padding-right: 30px;
}
.nav-side-menu li:hover {
  border-left: 3px solid #337ab7;
  background-color: #4f5b69;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
}
@media (max-width: 767px) {
  .nav-side-menu {
    position: relative;
    width: 100%;
    margin-bottom: 10px;
    height:55px;
    top:0px;
    overflow:visible;
  }
    .side-body{
  	margin-left: 0px;
  	margin-right:0px;
  }
  .nav-side-menu li{
  	background: #2e353d;
  }
  .nav-side-menu ul .sub-menu li.active, .nav-side-menu li .sub-menu li.active{
  bakground:rgb(61, 65, 70);
  }
  footer{
  margin-left: 0px;
  }
  .credits{
  	display:none;
  }
  .nav-side-menu .toggle-btn {
    display: block;
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: 10 !important;
    padding: 3px;
    background-color: #ffffff;
    color: #000;
    width: 40px;
    text-align: center;
  }
  .brand {
    text-align: left !important;
    font-size: 22px;
    padding-left: 20px;
    line-height: 50px !important;
  }
}
@media (min-width: 767px) {
  .nav-side-menu .menu-list .menu-content {
    display: block;
  }
}
body {
  margin: 0px;
  padding: 0px;
}
 