@CHARSET "UTF-8";
/* ==========================================================================
   Cross-browser RESET
   ========================================================================== */
html, body, address, blockquote, div, dl, form, h1, h2, h3, h4, h5, h6, ol, p, pre, table, ul,
dd, dt, li, tbody, td, tfoot, th, thead, tr, button, del, ins, map, object,
a, abbr, acronym, b, bdo, big, br, cite, code, dfn, em, i, img, kbd, q, samp, small, span,
strong, sub, sup, tt, var, figure, legend, fieldset {
  margin: 0;
  padding: 0;
  border: 0; }

img {
  height: auto;
  border: none;
  /* ie8 */
  display: block;
  /* fix the img bottom margin default  */
  max-width: 100%;
  margin: 0 auto; }

a img {
  border: none; }

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
html,
button,
input,
select,
textarea {
  color: #222; }

body {
  font-size: 1em;
  line-height: 1.4; }

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none; }

::selection {
  background: #b3d4fc;
  text-shadow: none; }

/*
 * A better looking default horizontal rule
 */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0; }

/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */
img {
  vertical-align: middle; }

/*
 * Remove default fieldset styles.
 */
fieldset {
  border: 0;
  margin: 0;
  padding: 0; }

.bx-wrapper {
  margin: 0 auto; }

.bx-wrapper .bx-viewport {
  border: none;
  box-shadow: none;
  padding: 0;
  margin: 0;
  left: 0px; }
  .bx-wrapper .bx-viewport li {
    padding: 0px; }

/* ==========================================================================
   Bootstrap reset
   ========================================================================== */
.row {
  margin: 0px; }

.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
  position: relative;
  min-height: 1px;
  padding-right: 0px;
  padding-left: 0px; }

/**
 * Responsive mixin. The media breakpoints are as defined
 * in the twitter bootstrap framework:
 *
 * - phone
 * - tablet-portrait
 * - tablet-landscape-desktop
 * - large-desktop
 *
 * Additional parameters for tagetting retina and non-retina
 * devices
 *
 * - retina
 * - non-retina
 *
 * Moreover, a specific value in px can be passed which is
 * used to generate a max-width media query.
 */
/* ==========================================================================
   General
   ========================================================================== */
body {
  font-family: "Lato", serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
  -webkit-text-size-adjust: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  overflow-x: hidden;
  position: relative;
  margin: 0 auto;
  color: #b49b6a;
  background: #ffffff;
  overflow-x: hidden;
  position: relative; }

.content-width-outer {
  margin: 0 auto;
  max-width: 1920px;
  position: relative; }

.content-width {
  margin: 0 auto;
  max-width: 1140px;
  position: relative; }

.content-width-inner {
  margin: 0 auto;
  max-width: 992px;
  position: relative; }

.content-width-inner2 {
  margin: 0 auto;
  max-width: 762px;
  position: relative; }

.content-padding {
  padding: 0px;
  /* Landscape phones and down */ }
  @media only screen and (max-width: 1140px) {
    .content-padding {
      padding: 0px 15px; } }

.top-padding {
  padding-top: 75px; }

.top-bottom-padding-large {
  padding: 30px 0;
  overflow: hidden;
  /* Landscape phones and down */ }
  @media only screen and (max-width: 1140px) {
    .top-bottom-padding-large {
      padding: 20px 0; } }

.top-bottom-padding {
  padding: 20px 0;
  overflow: hidden;
  /* Landscape phones and down */ }
  @media only screen and (max-width: 1140px) {
    .top-bottom-padding {
      padding: 10px 0; } }

.top-bottom-padding-small {
  padding: 10px 0;
  overflow: hidden; }

.side-padding {
  padding: 0 20px; }

.side-padding-large {
  padding: 0 30px; }

.left-padding {
  padding-left: 20px;
  /* Landscape phones and down */ }
  @media only screen and (max-width: 992px) {
    .left-padding {
      padding: 0; } }

.right-padding {
  padding-right: 20px;
  /* Landscape phones and down */ }
  @media only screen and (max-width: 992px) {
    .right-padding {
      padding: 0; } }

.right-padding-large {
  padding-right: 30px;
  /* Landscape phones and down */ }
  @media only screen and (max-width: 992px) {
    .right-padding-large {
      padding: 0; } }

.left-padding-large {
  padding-left: 30px;
  /* Landscape phones and down */ }
  @media only screen and (max-width: 992px) {
    .left-padding-large {
      padding: 0; } }

.no-padding {
  padding: 0px; }

.top-bottom-margin {
  margin: 20px 0; }

.side-margin {
  margin: 0 20px; }

.left-margin {
  margin-left: 20px; }

.right-margin {
  margin-right: 20px; }

.no-margin {
  margin: 0px; }

hr {
  border-top: 2px solid #b49b6a;
  height: 1px;
  margin: 10px -15px; }

h1 {
  position: relative;
  font-family: "Lato", serif;
  color: #30377a;
  font-weight: bold;
  font-size: 44px;
  /* Landscape phones and down */
  z-index: 1;
  overflow: hidden;
  text-align: left;
  display: inline-block;
  padding: 10px 0; }
  @media only screen and (max-width: 992px) {
    h1 {
      font-size: 40px; } }
  h1 span {
    font-weight: 300; }

h2 {
  position: relative;
  font-family: "Lato", serif;
  color: #30377a;
  font-weight: 600;
  font-size: 44px;
  /* Landscape phones and down */
  padding: 10px 0; }
  @media only screen and (max-width: 992px) {
    h2 {
      font-size: 36px; } }

h3 {
  color: #b49b6a;
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  padding: 10px 0;
  font-weight: 500; }

h4 {
  color: #30377a;
  font-family: "Lato", serif;
  font-weight: 600;
  font-size: 18px;
  text-align: left;
  padding: 5px 0;
  /* Landscape phones and down */ }
  h4 span {
    color: #7f7f7f; }
  @media only screen and (max-width: 762px) {
    h4 {
      text-align: center; } }

strong {
  font-weight: bold; }
  strong span {
    color: #30377a; }

ul {
  padding: 0;
  display: inline; }

p {
  padding: 5px 0; }

/*****Element/tag selectors********/
li, ol, dl {
  padding: 5px 0;
  list-style-type: none;
  display: inline; }

li.last, ol.last, dl.last {
  padding: 0px; }

/***********Links***************/
a:link, a:visited {
  text-decoration: none;
  color: #b49b6a; }

a:hover, a:focus {
  text-decoration: none;
  color: #5d5d5d; }

/************************************************************************************
HELPER CLASSES
*************************************************************************************/
.clear {
  clear: both; }

.hidden {
  display: none !important;
  visibility: hidden; }

.img-responsive {
  width: 100%; }

.center-align {
  text-align: center; }

.right-align {
  text-align: right;
  /* Landscape phones and down */ }
  @media only screen and (max-width: 992px) {
    .right-align {
      text-align: center; } }

.left-align {
  text-align: left;
  /* Landscape phones and down */ }
  @media only screen and (max-width: 992px) {
    .left-align {
      text-align: center; } }

.right {
  float: right; }

.left {
  float: right; }

.clear {
  clear: both; }

.sticky, .fixed {
  position: fixed !important;
  top: 0px !important;
  z-index: 999999 !important;
  background: #ffffff; }

.stretched {
  letter-spacing: 2px; }

.border-bottom {
  border-bottom: solid 1px #5d5d5d; }

.highlight {
  color: #30377a; }

.bigger-text {
  font-size: 24px;
  line-height: 30px;
  font-family: "Lato", serif; }

.contact-info {
  font-size: 18px;
  font-family: "Lato", serif;
  color: #30377a;
  font-weight: 500;
  text-align: center; }
  .contact-info i {
    color: #b49b6a;
    font-size: 28px;
    padding: 0 10px; }
  .contact-info h3 {
    font-size: 24px;
    font-family: "Lato", serif;
    font-weight: 700;
    color: #30377a; }

.background-color1 {
  background: #b49b6a; }

.background-color2 {
  background: #30377a;
  color: #ffffff;
  font-size: 18px; }
  .background-color2 h1 {
    font-size: 24px;
    font-weight: 500;
    color: #ffffff;
    text-align: center;
    padding: 0; }

.approach-section {
  font-size: 26px;
  color: #ffffff;
  background: url(../img/approach.jpg) repeat center;
  position: relative;
  heigth: 330px;
  line-height: 26px;
  text-align: center; }
  .approach-section .layer {
    background: rgba(48, 55, 122, 0.85);
    padding: 85px 0; }
  .approach-section .button {
    margin-top: 65px;
    width: 250px;
    height: 55px;
    background: none;
    color: #b49b6a;
    font-family: "Oswald", sans-serif;
    font-weight: 400;
    font-size: 24px;
    border: solid 2px #b49b6a; }
  .approach-section .button a:link, .approach-section .button a:visited {
    color: #b49b6a; }
  .approach-section .button:hover {
    background: #b49b6a;
    color: #ffffff; }
  .approach-section .button:hover a {
    color: #ffffff; }

.contact-section {
  background: #b49b6a;
  text-align: center; }
  .contact-section .button {
    background: none;
    border: solid 2px #ffffff;
    margin: 35px 0;
    width: 250px;
    height: 55px;
    font-family: "Oswald", sans-serif;
    font-weight: 400;
    font-size: 24px; }

.services-section {
  text-align: center;
  padding: 25px 0;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 24px;
  /***********Links***************/ }
  .services-section p {
    padding: 15px 0; }
  .services-section a:link, .services-section a:visited {
    text-decoration: none;
    color: #000000;
    display: inline-block; }
  .services-section a:hover, .services-section a:focus {
    text-decoration: none;
    color: #000000; }
  .services-section a:hover > .line, .services-section a:focus > .line {
    width: 100%; }

.line {
  background: url(../img/icons/line.png) repeat-x center;
  width: 25%;
  height: 35px;
  display: block;
  margin: 0 auto; 
  text-indent: -9999px
  }

.line:hover {
  width: 100%; }

.background-color3 {
  background: #7f7f7f; }

.background-color4 {
  background: #5d5d5d; }

.background-color5 {
  background: #3c4c58; }

.background-color6 {
  background: #dee1e7; }

.background-color7 {
  background: #ffffff; }

.background-color8 {
  background: #000000; }

.background-color9 {
  background: #373636; }

.background-color10 {
  background: #4d4c4c; }

.scroll-down {
  font-size: 22px;
  color: #b49b6a;
  font-family: "Oswald", sans-serif;
  text-align: center;
  /***********Links***************/ }
  .scroll-down img {
    padding-top: 15px; }

a:link.scroll-down, a:visited.scroll-down {
  text-decoration: none;
  color: #b49b6a; }

a:hover.scroll-down, a:focus.scroll-down {
  text-decoration: none;
  color: #b49b6a; }

.scrollToTop {
  width: 60px;
  height: 60px;
  display: none;
  position: absolute;
  right: 0px;
  top: 0px;
  font-size: 18px;
  padding: 20px;
  background: #b49b6a;
  color: #30377a;
  z-index: 999; }

a.scrollToTop:link, a.scrollToTop:visited {
  color: #30377a; }

/************************************************************************************
BUTTONS
*************************************************************************************/
.button {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  padding: 12px 35px;
  font-weight: 100;
  display: inline-block;
  background: #b49b6a; }
  .button a:link, .button a:visited {
    color: #ffffff; }
  .button a:hover {
    color: #ffffff; }
  .button span {
    color: #7f7f7f;
    padding-left: 5px;
    font-size: 18px; }

.button:hover {
  background: #30377a;
  color: #ffffff; }

.button:hover a {
  color: #ffffff; }

/************************************************************************************
HICHLIGHTS
*************************************************************************************/
.highlights-icons {
  padding: 15px 0;
  overflow: hidden; }

.highlight-icon {
  text-align: center;
  font-size: 23px;
  font-family: "Lato", serif;
  font-style: italic;
  color: #b49b6a;
  /* Landscape phones and down */ }
  @media only screen and (max-width: 762px) {
    .highlight-icon {
      width: 50%; } }

/************************************************************************************
BOXES
*************************************************************************************/
.location-box {
  position: absolute;
  bottom: 100px;
  width: 430px;
  left: 35px;
  color: #b49b6a;
  background: #ffffff; }
  .location-box .contents {
    margin: 15px;
    padding: 15px;
    border: solid 2px #b49b6a;
    height: 270px;
    text-align: center; }
  .location-box p {
    color: #3c4c58;
    font-size: 16px;
    padding: 20px 0; }
  .location-box span {
    font-size: 16px;
    display: inline-block;
    padding: 15px 0; }

/************************************************************************************
HEADER
*************************************************************************************/
header {
  position: relative;
  width: 100%;
  z-index: 999;
  height: 100px;
  padding: 20px 0;
  background: #ffffff;
  box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.3); }
  header .logo {
    position: relative;
    float: left;
    display: inline-block;
    padding: 5px 0;
    z-index: 1; }
    header .logo a {
      display: block;
      width: 200px;
      background: url(../img/logo.png) repeat center;
      height: 45px; }
  header .navigation {
    font-family: "Lato", serif;
    position: relative;
    color: #3c4c58;
    font-size: 16px;
    font-weight: bold;
    padding: 15px 0;
    /* Landscape phones and down */ }
    header .navigation ul li {
      position: relative;
      color: #30377a;
      padding-left: 25px;
      /* Landscape phones and down */
      /* Landscape phones and down */ }
      header .navigation ul li a:link, header .navigation ul li a:visited {
        color: #30377a; }
      header .navigation ul li a:hover, header .navigation ul li a:focus {
        color: #30377a;
        padding-bottom: 5px;
        border-bottom: solid 2px #b49b6a; }
      header .navigation ul li a.active {
        color: #30377a;
        padding-bottom: 5px;
        border-bottom: solid 2px #b49b6a; }
      @media only screen and (max-width: 1140px) {
        header .navigation ul li {
          padding-right: 0;
          width: 100%;
          display: inline-block;
          text-align: center;
          padding: 10px 0;
          font-size: 20px; } }
      header .navigation ul li ul.submenu {
        visibility: hidden;
        opacity: 0;
        position: absolute;
        width: 235px;
        left: 25px;
        top: 69px;
        background: white;
        -webkit-transform: translateY(-150%);
        -moz-transform: translateY(-150%);
        transform: translateY(-20%);
        -webkit-transition: all 0.5s ease-in-out;
        -moz-transition: all 0.5s ease-in-out;
        transition: all 0.5s ease-in-out; }
      header .navigation ul li ul.submenu li {
        display: inline-block;
        width: 100%;
        text-align: left;
        padding: 10px 15px;
        text-transform: initial; }
        header .navigation ul li ul.submenu li i {
          opacity: 0;
          color: #b49b6a; }
      header .navigation ul li ul.submenu li:hover i, header .navigation ul li ul.submenu li.active i {
        opacity: 1; }
      header .navigation ul li ul.submenu li:hover, header .navigation ul li ul.submenu li.active {
        background: #f2f3f9;
        text-decoration: none; }
      header .navigation ul li ul.submenu li:hover a {
        border-bottom: none; }
      @media only screen and (max-width: 1140px) {
        header .navigation ul li ul.submenu {
          display: none;
          position: relative;
          background: none;
          width: 100%;
          left: 0px;
          top: 0px;
          padding: 0;
          padding-top: 20px; }
        header .navigation ul li ul.submenu li {
          display: inline-block;
          width: 100%;
          text-align: center; }
        header .navigation ul li ul.submenu li:hover, header .navigation ul li ul.submenu li.active {
          background: none;
          text-decoration: none; } }
    header .navigation ul li.last {
      padding-right: 0px; }
    header .navigation ul li:hover > ul.submenu {
      opacity: 1;
      visibility: visible;
      display: block;
      -webkit-transform: translateY(0px);
      -moz-transform: translateY(0px);
      transform: translateY(0px);
      -webkit-transition: all 0.5s ease-in-out;
      -moz-transition: all 0.5s ease-in-out;
      transition: all 0.5s ease-in-out;
      z-index: 99999; }
    header .navigation ul li ul:hover ul.submenu {
      opacity: 1;
      visibility: visible;
      display: block;
      -webkit-transform: translateY(0px);
      -moz-transform: translateY(0px);
      transform: translateY(0px);
      -webkit-transition: all 0.5s ease-in-out;
      -moz-transition: all 0.5s ease-in-out;
      transition: all 0.5s ease-in-out;
      z-index: 99999; }
    @media only screen and (max-width: 1140px) {
      header .navigation {
        position: absolute;
        right: 0;
        margin: 0;
        left: 0;
        padding-top: 0;
        padding-right: 0px;
        padding-left: 0px;
        width: 100%; } }
    header .navigation .menu {
      float: right;
      /* Landscape phones and down */ }
      @media only screen and (max-width: 1140px) {
        header .navigation .menu {
          position: relative;
          top: 60px;
          margin: 0px;
          width: 100%;
          background: rgba(255, 255, 255, 0.862745);
          display: none;
          padding: 20px 0; } }
  header #dropdown {
    display: none;
    cursor: pointer;
    font-size: 25px;
    position: absolute;
    right: 15px;
    top: 25px;
    color: #7f7f7f;
    /* Landscape phones and down */
    /* Landscape phones and down */ }
    @media only screen and (max-width: 1140px) {
      header #dropdown {
        display: block;
        color: #30377a;
        top: 15px; } }
    @media only screen and (max-width: 550px) {
      header #dropdown {
        right: 5px; } }

header.sticky {
  padding-top: 0px;
  height: 60px; }
  header.sticky .navigation ul li ul.submenu {
    top: 49px; }

/* ==========================================================================
   main styling
   ========================================================================== */
main {
  position: relative;
  clear: both;
  overflow: hidden;
  font-family: "Lato", serif;
  font-size: 16px;
  color: #373636; }
  main ul {
    display: inline-block;
    padding-bottom: 10px; }
    main ul li {
      display: list-item;
      list-style-type: disc;
      font-size: 16px;
      font-weight: 600;
      color: #30377a; }
      main ul li span {
        display: inline-block;
        position: relative;
        color: #373636;
        font-weight: 500; }
    main ul li:before {
      font-size: 40px;
      line-height: 20px; }
  main .main-content {
    text-align: center;
    padding: 20px 0; }
    main .main-content p {
      padding: 5px 0; }
    main .main-content ul {
      display: inline-block;
      padding-bottom: 10px;
      /* Landscape phones and down */ }
      @media only screen and (max-width: 762px) {
        main .main-content ul {
          text-align: center;
          padding: 0; } }
      main .main-content ul li {
        display: list-item;
        list-style-type: none;
        color: #b49b6a;
        padding: 2px 0; }
        main .main-content ul li span {
          color: #30377a;
          position: relative;
          bottom: -3px;
          left: 5px; }
      main .main-content ul li:before {
        content: '.';
        top: 0;
        font-size: 40px;
        line-height: 20px; }
    main .main-content strong {
      font-weight: 600; }

/************************************************************************************
FOOTER
*************************************************************************************/
footer {
  position: relative;
  overflow: hidden;
  text-align: center;
  font-size: 14px;
  color: #ffffff;
  background: #30377a;
  padding: 25px 0;
  height: 80px;
  /***********Links***************/
  font-family: "Lato", serif; }
  footer a:link, footer a:visited {
    text-decoration: none;
    color: #b49b6a; }
  footer a:hover, footer a:focus {
    text-decoration: none;
    color: #ffffff; }
  footer .copy p {
    float: left; }
  footer .social-menu p {
    float: right;
    position: relative;
    bottom: 5px; }

/* ==========================================================================
  forms
   ========================================================================== */
::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #30377a;
  font-size: 14px; }

::-moz-placeholder {
  /* Firefox 19+ */
  color: #30377a;
  font-size: 14px; }

:-ms-input-placeholder {
  /* IE 10+ */
  color: #30377a;
  font-size: 14px; }

:-moz-placeholder {
  /* Firefox 18- */
  color: #30377a;
  font-size: 14px; }

.ui-datepicker .ui-datepicker-header {
  background: #30377a;
  color: #ffffff; }

.ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight {
  border-color: #30377a;
  background: #30377a;
  color: #ffffff; }

.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus {
  background: #30377a;
  color: #ffffff; }

input, select {
  border: none; }

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 1px;
  text-overflow: ''; }

.contact-form {
  position: relative; }
  .contact-form .form-group {
    padding: 8px 0; }
  .contact-form ::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: #b49b6a; }
  .contact-form ::-moz-placeholder {
    /* Firefox 19+ */
    color: #b49b6a; }
  .contact-form :-ms-input-placeholder {
    /* IE 10+ */
    color: #b49b6a; }
  .contact-form :-moz-placeholder {
    /* Firefox 18- */
    color: #b49b6a; }
  .contact-form label {
    font-weight: 600;
    font-size: 18px;
    text-align: left;
    color: #30377a;
    width: 100%;
    margin: 0px; }
    .contact-form label span {
      font-weight: 400;
      font-style: normal;
      font-size: 16px; }
  .contact-form input {
    width: 96%;
    /* Landscape phones and down */
    float: left;
    height: 50px;
    margin: 5px 0;
    padding-left: 16px;
    background: #f2f3f9;
    border-top: #b49b6a solid 2px; }
    @media only screen and (max-width: 992px) {
      .contact-form input {
        width: 100%; } }
  .contact-form input[type="file"] {
    background: #30377a;
    color: #ffffff;
    padding: 10px; }
  .contact-form input[type="submit"] {
    float: right;
    background: none;
    border: #b49b6a solid 2px;
    color: #b49b6a;
    font-family: "Oswald", sans-serif;
    border-radius: 0px;
    font-weight: 500;
    font-size: 22px;
    width: 240px;
    /* Landscape phones and down */
    position: relative;
    right: 15px; }
    @media only screen and (max-width: 992px) {
      .contact-form input[type="submit"] {
        width: 100%;
        right: 0px; } }
  .contact-form input[type="submit"]:hover {
    background: #b49b6a;
    color: #ffffff; }
  .contact-form textarea {
    width: 98%;
    /* Landscape phones and down */
    height: 165px;
    display: inline-block;
    padding: 20px;
    float: left;
    color: #000000;
    background: #f2f3f9;
    border: none;
    border-top: #b49b6a solid 2px; }
    @media only screen and (max-width: 992px) {
      .contact-form textarea {
        width: 100%; } }
  .contact-form span {
    font-style: italic;
    font-size: 13px;
    padding: 15px 0;
    display: block; }
  .contact-form .sec_code {
    position: absolute;
    top: 32px;
    right: 15px;
    width: 100px;
    /* Landscape phones and down */ }
    @media only screen and (max-width: 992px) {
      .contact-form .sec_code {
        top: 92px;
        right: 0px; } }

/************************************************************************************
SOCIAL MENU
*************************************************************************************/
.social-menu i {
  font-size: 20px; }

.social-menu a.cyrcle {
  border-radius: 20px;
  width: 35px;
  height: 35px;
  font-size: 24px;
  line-height: 30px;
  text-align: center;
  display: inline-block;
  border: solid 2px;
  margin-right: 15px; }

.social-menu a.square {
  width: 36px;
  height: 36px;
  border-radius: 5px;
  margin-right: 15px;
  padding-top: 5px;
  font-size: 20px;
  text-align: center;
  background: #3c4c58;
  display: inline-block; }

.social-menu a.last {
  margin-right: 0px; }

.social-menu a:link, .social-menu a:visited {
  color: #b49b6a; }

.social-menu a:hover, .social-menu a:focus {
  color: #ffffff; }

.social-menu.block {
  width: 250px;
  display: inline-block;
  text-align: center; }
  .social-menu.block li {
    width: 80px;
    padding: 5px;
    display: inline-block;
    color: #343333; }

/************************************************************************************
SLIDER
*************************************************************************************/
.slider-wrapper {
  position: relative; }
  .slider-wrapper .caption {
    position: absolute;
    width: 1000px;
    margin: 0 auto;
    left: 50px;
    right: 0px;
    top: 260px;
    z-index: 1;
    text-align: left;
    font-family: "Lato", serif;
    font-style: italic;
    font-weight: normal;
    color: #ffffff;
    font-size: 28px;
    line-height: 42px;
    display: none;
    /* Landscape phones and down */ }
    .slider-wrapper .caption span {
      display: block;
      font-weight: normal;
      font-size: 45px;
      line-height: 56px;
      text-align: center; }
    @media only screen and (max-width: 992px) {
      .slider-wrapper .caption {
        display: none; } }
  .slider-wrapper .scroll-down {
    position: absolute;
    bottom: -45px;
    width: 70px;
    height: 70px;
    padding: 5px;
    text-align: center;
    margin: 0 auto;
    right: 0px;
    left: 0px;
    color: #ffffff;
    display: inline-block;
    z-index: 99; }
