<div class="fotorama">
	<?php foreach($slider[1] as $slider_item): ?>
  		<img data-caption="<?php echo $slider_item->caption;  ?>" src= "<?php echo ROOT.'/'.SLIDERS_PATH.'/'.$slider[0]->title.'/'.$slider_item->media_path;  ?>" />	  			
 	<?php endforeach ?>
</div>